<div class="container">
	<div class="row">
	  <div class="col-md-12 form-admin">
	    <h2>Fotos</h2>
	    <form class="contact-form">
	      <div class="form-group">
	        <label for="exampleInputFile">
	          Agrega algunas fotos que le permitan a tus posibles huéspedes conocer la propiedad  
	        </label>
	        <input type="file" name="userPhoto" id="userPhoto" nv-file-select="" uploader="uploader" />
	        <br/>
	        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Cargar foto
            </button>
	      </div>
	      <br/>
	      <br/>
	      <div>
	        <br/>
	        <a href class="btn btn-default" ng-click="photosFormCtrl.clickBack()">Regresar</a>
	        <a href class="btn btn-primary coco-color" ng-click="photosFormCtrl.saveHouse($event)">Terminar</a>
	      </div>
	      <br/>
	      <div class="alert alert-danger" role="alert" ng-show="photosFormCtrl.errorMessage.length > 0">
	      	<p ng-bind="photosFormCtrl.errorMessage"></p>
	      </div>
	    </form>
	  </div>
	  <!-- end form-admin -->
	</div>
	<!-- end row -->
</div>
<!-- end container-fluid -->