<div class="container">
	<div class="row">
	  <div class="col-md-12 form-admin">
	    <h2>Información general de la propiedad</h2>
	    <form class="contact-form">
	      <div class="form-group">
	        <label for="exampleInputEmail1">¿De qué tipo de propiedad se trata?</label>
	        <select class="form-control" ng-model="generalFormCtrl.generalData.propertyType">
	          <option value="">Selecciona el tipo de propiedad</option>
	          <option value="Casa">Casa</option>
	          <option value="Departamento">Departamento</option>
	          <option value="Oficina">Oficina</option>
	          <option value="Terreno">Terreno</option>
	          <option value="Salon">Salon</option>
	          <option value="Otro">Otro</option>
	        </select>
	      </div>
	      <!-- end tipo de propiedad -->
	      <div class="form-group">
	        <label for="exampleInputEmail1">¿Que tipo de operación quieres hacer?</label>
	        <select class="form-control" ng-model="generalFormCtrl.generalData.operationType">
	          <option value="">Selecciona el tipo de operación</option>
	          <option value="Venta">Venta</option>
	          <option value="Renta">Renta</option>
	        </select>
	      </div>
	      <!-- end tipo de operación -->
	      <div class="admin-subsection">
	        <h3>Caracteristicas</h3>
	      </div>
	      <div class="form-group">
	        <label for="exampleInputEmail1">¿Cuantas habitaciones tiene?</label>
	        <div>
	          <a class="btn btn-primary" ng-click="generalFormCtrl.clickBedrooms($event,'subtract');">
	            <i class="fa fa-minus" aria-hidden="true"></i>
	          </a>
	          <input class="form-control admin-counter-input" type="text" value="1" ng-model="generalFormCtrl.generalData.noBedrooms">
	          <a class="btn btn-primary" ng-click="generalFormCtrl.clickBedrooms($event,'add');">
	            <i class="fa fa-plus" aria-hidden="true"></i>
	          </a>
	        </div>
	      </div>
	      <!-- end habitaciones -->
	      <div class="form-group">
	        <label for="exampleInputEmail1">¿Cuantos baños hay?</label>
	        <div>
	          <a class="btn btn-primary" ng-click="generalFormCtrl.clickBathrooms($event,'subtract');">
	            <i class="fa fa-minus" aria-hidden="true"></i>
	          </a>
	          <input class="form-control admin-counter-input" type="text" value="0" ng-model="generalFormCtrl.generalData.noBathrooms">
	          <a class="btn btn-primary" ng-click="generalFormCtrl.clickBathrooms($event,'add');">
	            <i class="fa fa-plus" aria-hidden="true"></i>
	          </a>
	        </div>
	      </div>
	      <!-- end baños -->
	      <div class="form-group">
	        <label for="exampleInputEmail1">¿Cuantas lugares de estacionamiento tiene?</label>
	        <div>
	          <a class="btn btn-primary" ng-click="generalFormCtrl.clickParking($event,'subtract');">
	            <i class="fa fa-minus" aria-hidden="true"></i>
	          </a>
	          <input class="form-control admin-counter-input" type="text" value="0" ng-model="generalFormCtrl.generalData.noParking">
	          <a class="btn btn-primary" ng-click="generalFormCtrl.clickParking($event,'add');">
	            <i class="fa fa-plus" aria-hidden="true"></i>
	          </a>
	        </div>
	      </div>
	      <!-- end estacionamiento -->
	      <div class="admin-subsection">
	        <h3>Servicios</h3>
	      </div>
	      <div id="services-section" class="form-group">
	        <label for="exampleInputEmail1">¿Que servicios ofrece?</label>
	        <div>
	          <div class="checkbox" ng-repeat="service in generalFormCtrl.availableServ">
	            <label>
	              <input type="checkbox" ng-model="service.isSelected">{{service.label}}
	            </label>
	          </div>
	        </div>
	      </div>
	      <!-- end services-section -->
	      <div>
	        <br/>
	        <a class="btn btn-default" ng-click="generalFormCtrl.clickBack($event)">Regresar</a>
	        <a class="btn btn-primary coco-color" ng-click="generalFormCtrl.clickNext($event)">Siguiente</a>
	      </div>
	    </form>
	  </div>
	  <!-- end form-admin -->
	</div>
	<!-- end row -->
</div>
<!-- end container-fluid -->