<div class="container">
	<div class="row">
		<div id="list-wrapper" class="col-md-12">
			<h1>Casas registradas</h1>
			<br/>
			<div class="panel panel-default">
				<div class="panel-body">
					<a href="#/contact-form/" class="btn btn-primary coco-color">Agregar una casa</a>
				</div>
			</div>
			<div>
				<ul class="list-inline">
				  <li>
				  	<a href ng-class="(listHousesCtrl.currentStatus === 'Publicado') ? 'house-link' : ''" 
				  	ng-click="listHousesCtrl.getListByStatus('Publicado')">	
				  		Publicadas
				  	</a>
				  </li>
				  <li>
				  	<a href ng-class="(listHousesCtrl.currentStatus === 'Borrador') ? 'house-link' : ''" 
				  	ng-click="listHousesCtrl.getListByStatus('Borrador')">	
				  		Borrador
				  	</a>
				  </li>
				  <li>
				  	<a href ng-class="(listHousesCtrl.currentStatus === 'Inactivo') ? 'house-link' : ''"
				  	ng-click="listHousesCtrl.getListByStatus('Inactivo')">	
				  		Inactivas
				  	</a>
				  </li>
				</ul>
			</div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Título</th>
						<th>Fecha de creación</th>
						<th>Fecha de última modificación</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="house in listHousesCtrl.houses">
						<td >
							<a href="#/contact-form/{{house._id}}" ng-bind="house._id" class="house-link">
							</a>
						</td>
						<td ng-bind="house.title"></td>
						<td ng-bind="house.creationDate"></td>
						<td ng-bind="house.lastModification"></td>
					</tr>
				</tbody>
			<div >
			</div>
			</table>
		</div>
		<!-- end list-wrapper -->
	</div>
	<!-- end row -->
</div>
<!-- end container -->